.wrap{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    background-color:  #064d6a
}

.accord{
    width: 70%;
    margin-top: 5%;
   
}

.item {
    background-color: rgb(241, 214, 180);
    margin-bottom: 5px;
    padding: 10px 20px;
}
.title{
    color:  #FF0032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
button{
    cursor: pointer;
    color:white ;
    border: none;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(216, 29, 69);
}
button:hover{
    background-color: rgb(250, 11, 63);
}
.content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    color:  #FF0032;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    display: flex;
    justify-content: center;
}
.content.show>div{
    width: 40%;
    /* background-color: aqua; */
}
